NEXT_PUBLIC_SUPABASE_URL=https://yrykyucypeddairmkiqr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyeWt5dWN5cGVkZGFpcm1raXFyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3OTU1OTIsImV4cCI6MjA5MjM3MTU5Mn0.FlXxJoXbSPebJ2-KJNcsX-K5jlyQqHo13sOCr-kg0IA
GEMINI_API_KEY=AIzaSyAI7wLjavSZ2cxemZtA2BNs9WTbRI7Ik_g
